.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  background-color: rgba(var(--bg-rgb), 0.5);
  backdrop-filter: blur(5px);
  padding: 0 var(--padding);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  display: flex;
  position: relative;
  height: 48px; width: 96px;
}

.items {
  display: flex;
  gap: 16px;
  height: 100%;
}

.items > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px; height: 100%;
  transition: 200ms;
  letter-spacing: 1px;
}

.items > a:hover {
  background-color: rgba(var(--fg-rgb), 0.1);
}

@media screen and (max-width: 500px) {
  .items > a {
    width: auto;
  }
}