@keyframes slide-right {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--nav-height));
  padding: var(--padding);
}

.main > h1 {
  font-size: 3rem;
  user-select: none;
  z-index: 2;
  color: var(--white);
}

.child {
  display: flex;
  animation: 1s ease both slide-right;
  animation-delay: var(--animation-delay);
  transition: 200ms;
}

.child:hover {
  translate: -10% 0;
}

.image {
  display: flex;
  width: calc(100% - var(--padding) * 2); height: max(calc(100vh - var(--nav-height) - var(--padding) * 2), 228px);
  overflow: hidden;
  position: absolute;
  z-index: 1;
  filter: brightness(0.5);
}

.image > img {
  object-fit: cover;
  animation: 1s ease 1 both fade-in;
}

@media screen and (max-width: 500px) {
  .image {
    width: calc(100vw - var(--padding) * 2); height: calc(100vh - var(--padding) - var(--nav-height));
  }
}