.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--secondary);
  gap: 16px;
}

.main > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main h1 {
  text-align: center;
}

.main a {
  text-decoration: underline;
}