.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding);
}

.container {
  display: flex;
  justify-content: center;
  padding: var(--padding);
  color: var(--white);
  background: linear-gradient(135deg, var(--primary), var(--accent));
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card > h1,
.card > h2 {
  text-align: center;
}

.card > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 4px;
  border-radius: 16px;
}